<!DOCTYPE html>
<html lang="es-cl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Arcade font-->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
        <!--Link de la carpeta para los iconos de las redes sociales-->
    <link rel="stylesheet" href="{% static 'usuario/fontawesome-free-5.10.2-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'usuario/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'usuario/css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'usuario/css/styles.css' %}">
    <title>Pac-Burger: Inicio</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: chocolate">
            <a class="navbar-brand" href="index.html">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Crear Cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Let's Play!</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="navegador" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mi Cuenta
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="perfil.html">Perfil</a>
                            <a class="dropdown-item" href="#">Cupones mágicos</a>
                            <a class="dropdown-item" href="#">Creador de plantillas</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div>
            {% block contenido %}
            
            {% endblock contenido %}    
        </div>
        
        <footer class="row center-xs">
                <div class="col-xs-12">
                        <h5>Siguenos en nuestras redes sociales:</h5>
                        <div class="row around-xs">
                                <div class="col-xs-2">
                                    <div class="box">
                                            <a class="redes-sociales" href="https://www.instagram.com"><i class="fab fa-2x fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="box">
                                            <a class="redes-sociales" href="https://www.facebook.com"><i class="fab fa-2x fa-facebook"> </i></a>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="box">
                                            <a class="redes-sociales" href="https://www.google.com"><i class="fab fa-2x fa-google-plus-g"></i></a>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="box">
                                            <a class="redes-sociales" href="https://www.twitter.com"><i class="fab fa-2x fa-twitter-square"></i></a>
                                    </div>
                            </div>
                </div>  
        </footer>
    </div>
    <!--Js Files-->
    <script src="{% static 'usuario/js/jquery-3.4.1.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'usuario/js/bootstrap.js' %}"></script>
    <script src="{% static 'usuario/js/app.js' %}"></script>
</body>
</html>