footer{
    padding: 25px;
    background-color: lightgray;
}

#margwind{
    margin: 35px;           
}

a{font-family: 'Press Start 2P', cursive;}

h1{font-family: 'Press Start 2P', cursive;}

h2{font-family: 'Press Start 2P', cursive;}

h3{font-family: 'Press Start 2P', cursive;}

h4{font-family: 'Press Start 2P', cursive;}

h5{font-family: 'Press Start 2P', cursive;}

h6{font-family: 'Press Start 2P', cursive;}